<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <title>Painel Supervisor - Visualizar Indicadores</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='painel_supervisor.css') }}">
</head>
<body>
    <div class="topo">
        <h1>Painel do Supervisor</h1>
        <div class="links-wrapper">
            <a href="{{ url_for('logout') }}" class="links" id="sair">Sair</a>
        </div>
    </div>

    <h2>Selecionar Funcionário</h2>
    <form method="POST">
        <select name="id_motorista_selecionado" required>
            <option value="" disabled selected>Escolha um funcionário</option>
            {% for f in funcionarios %}
                <option value="{{ f.id_motorista }}"
                    {% if id_selecionado == f.id_motorista %}selected{% endif %}>
                    {{ f.nome_completo }} ({{ f.id_motorista }})
                </option>
            {% endfor %}
        </select>

        <label for="filtro_mes" id="label_filtro">Filtrar mês:</label>
        <input type="month" id="filtro_mes" name="filtro_mes" value="{{ filtro_mes or '' }}" />

        <button type="submit">Ver Indicadores</button>
    </form>


    {% if mensagem %}
        <p>{{ mensagem }}</p>
    {% endif %}

    {% if indicadores %}
        <h2>Indicadores do Funcionário Selecionado</h2>
        <p><strong>Telemetria:</strong> O prontuário de ocorrências está em <strong>{{prontuario}}</strong></p>
        <table>
            <thead>
                <tr>
                    <th>Data</th>
                    <th>% Devolução (PDV)</th>
                    <th>Dispersão (KM)</th>
                    <th>rating</th>
                    <th>Reposição</th>
                    <th>Refugo (%)</th>
                </tr>
            </thead>
            <tbody>
                {% for item in indicadores %}
                <tr>
                    <td>{{ item.data }}</td>
                    <td>{{ item.devolucao_porcentagem }}</td>
                    <td>{{ item.dispersao_km }}</td>
                    <td>{{ item.rating }}</td>
                    <td>{{ item.reposicao_valor }}</td>
                    <td>{{ item.refugo_porcentagem }}</td>
                </tr>
                {% endfor %}
            </tbody>
            
            <tfoot>
            <tr>
                <td><strong>Consolidado</strong></td>
                <td class="{{ 'bg-vermelho' if medias['devolucao_porcentagem'] != '-' and medias['devolucao_porcentagem']|float > 1.7 else 'bg-verde' }}">
                    {{ medias['devolucao_porcentagem'] if medias['devolucao_porcentagem'] != '-' else '-' }}{% if medias['devolucao_porcentagem'] != '-' %}%{% endif %}
                </td>
                <td class="{{ 'bg-vermelho' if medias.dispersao_km|float > 10 else 'bg-verde' }}">
                    {{ medias.dispersao_km }}%
                </td>
                <td class="{{ 'bg-vermelho' if medias.rating|float < 4.98 else 'bg-verde' }}">
                    {{ medias.rating }}
                </td>
                <td class="{{ 'bg-vermelho' if medias.reposicao_valor|float > 360 else 'bg-verde' }}">
                    R${{ medias.reposicao_valor }}
                </td>
                <td class="{{ 'bg-vermelho' if medias['refugo_porcentagem'] != '-' and medias['refugo_porcentagem']|float > 1.5 else 'bg-verde' }}">
                    {{ medias['refugo_porcentagem'] if medias['refugo_porcentagem'] != '-' else '-' }}{% if medias['refugo_porcentagem'] != '-' %}%{% endif %}
                </td>
            </tr>
            <tr id="metas">
                <td><strong>Metas</strong></td>
                <td>1.70%</td>
                <td>10%</td>
                <td>4.98</td>
                <td>R$360,00</td>
                <td>1.5</td>
            </tr>
        </tfoot>

        </table>
        <div>
            <h2>Observações</h2>
        {% if observacoes %}
            <ul>
            {% for item in observacoes %}
                <li>{{ item.data }}: {{ item.texto }}</li>
            {% endfor %}
            </ul>
        {% else %}
            <p>Não há observações registradas.</p>
        {% endif %}
        </div>
    {% endif %}

    
</body>
</html>
